In [1]:
import numpy as np 
import pandas as pd 

import matplotlib.pyplot as plt
import seaborn as sns

import os

In [2]:
print(os.listdir("../data"))

['urldata.csv']

In [3]:
urldata = pd.read_csv("../data/urldata.csv")

In [4]:
urldata.head()

   Unnamed: 0                        url   label  result
0           0     https://www.google.com  benign       0
1           1    https://www.youtube.com  benign       0
2           2   https://www.facebook.com  benign       0
3           3      https://www.baidu.com  benign       0
4           4  https://www.wikipedia.org  benign       0

In [9]:
#removing unnamed column
urldata = urldata.drop('Unnamed: 0',axis=1)

In [10]:
urldata.head()

                         url   label  result
0     https://www.google.com  benign       0
1    https://www.youtube.com  benign       0
2   https://www.facebook.com  benign       0
3      https://www.baidu.com  benign       0
4  https://www.wikipedia.org  benign       0

In [11]:
urldata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450176 entries, 0 to 450175
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   url     450176 non-null  object
 1   label   450176 non-null  object
 2   result  450176 non-null  int64
dtypes: int64(1), object(2)
memory usage: 10.3+ MB

In [12]:
#checking for missing values
urldata.isnull().sum()

url       0
label     0
result    0
dtype: int64

In [13]:
#length of url
urldata['url_length'] = urldata['url'].apply(lambda i: len(str(i)))

In [14]:
urldata.head()

                         url   label  result  url_length
0     https://www.google.com  benign       0          22
1    https://www.youtube.com  benign       0          23
2   https://www.facebook.com  benign       0          24
3      https://www.baidu.com  benign       0          21
4  https://www.wikipedia.org  benign       0          25

In [16]:
pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting scikit-learn
  Downloading scikit_learn-1.0.1-cp39-cp39-win_amd64.whl (7.2 MB)
Requirement already satisfied: numpy>=1.14.6 in c:\python\python39\lib\site-packages (from scikit-learn->sklearn) (1.20.3)
Requirement already satisfied: scipy>=1.1.0 in c:\python\python39\lib\site-packages (from scikit-learn->sklearn) (1.7.3)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.0.0-py3-none-any.whl (14 kB)
Collecting joblib>=0.11
  Downloading joblib-1.1.0-py2.py3-none-any.whl (306 kB)
Using legacy 'setup.py install' for sklearn, since package 'wheel' is not installed.
Installing collected packages: threadpoolctl, joblib, scikit-learn, sklearn
    Running setup.py install for sklearn: started
    Running setup.py install for sklearn: finished with status 'done'
Successfully installed joblib-1.1.0 scikit-learn-1.0.1 sklearn-0.0 threadpoolctl-3.0.0
Note: you may need to restart the kernel to use updated packages.

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [18]:
x = urldata[['url_length']]

#Target Variable
y = urldata['result']

In [20]:
x.shape

(450176, 1)

In [21]:
y.shape

(450176,)

In [22]:
#Splitting the data into Training and Testing
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.3, random_state=42)

In [23]:
#Logistic Regression
log_model = LogisticRegression()
log_model.fit(x_train,y_train)

log_predictions = log_model.predict(x_test)
accuracy_score(y_test,log_predictions)

0.7694875667991014

In [28]:
from urllib.parse import urlparse

In [29]:
urldata['hostname_length'] = urldata['url'].apply(lambda i: len(urlparse(i).netloc))

In [32]:
pip install tld

Collecting tld
  Downloading tld-0.12.6-py39-none-any.whl (412 kB)
Installing collected packages: tld
Successfully installed tld-0.12.6
Note: you may need to restart the kernel to use updated packages.

In [33]:
from tld import get_tld

In [34]:
#Length of Top Level Domain
urldata['tld'] = urldata['url'].apply(lambda i: get_tld(i,fail_silently=True))
def tld_length(tld):
    try:
        return len(tld)
    except:
        return -1

urldata['tld_length'] = urldata['tld'].apply(lambda i: tld_length(i))

In [52]:
x = urldata[['url_length', 'hostname_length', 'tld_length']]

#Target Variable
y = urldata['result']

In [53]:
#Splitting the data into Training and Testing
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.3, random_state=40)

In [54]:
#Logistic Regression
log_model.fit(x_train,y_train)

log_predictions = log_model.predict(x_test)
accuracy_score(y_test,log_predictions)

0.773063936736015

In [28]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rfc = RandomForestClassifier()
rfc.fit(x_train, y_train)

rfc_predictions = rfc.predict(x_test)
accuracy_score(y_test, rfc_predictions)